.container {
  border: 1px solid peru;
  width: auto;
  height: 99%;
  font-family: Lato;
  display: grid;
  grid-template-columns: 24% 50% 24%;
  grid-template-areas:
    'sidebar display logout'
    'sidebar display logout';
  grid-gap: 10px;
  padding: 10px;
}

.logout {
  grid-area: logout;
}

.sidebar {
  grid-area: sidebar;
}

.display {
  grid-area: display;
}