.button {
  display: block;
  width: 65px;
  margin-left: auto;
  cursor: pointer;
}

.container {
  width: auto;
  height: 99%;
  font-family: Lato;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'search field'
    'search field'
    'message message';
  grid-gap: 10px;
  padding: 10px;
}

.searchContainer {
  grid-area: search;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.fieldContainer {
  grid-area: field;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  margin: auto;
}

.field {
  margin-bottom: 10px;
}

.message {
  grid-area: message;
  margin-top: 10px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}